.contact-info-block {

	h2 {

		&.contact-detail {
			color: $color-red;
			font-size: 25px;
		}

		&.requisite-detail {
			color: $color-dark-grey;
			font-size: 18px;
			span { color: $color-light-grey; }
		}
	}
}