.gallery-filter {
	padding: 0;
	margin: 30px 0px 10px 0px;
	display: inline-block;
	.nav-item {
		list-style: none;
		float: left;
		border: 3px solid $color-red;
		margin: 0 10px;
		min-width: 300px;
		text-align: center;
		margin-bottom: 10px;
		transition: all .5s ease;
		.nav-link {
			color: $color-red;
			font-weight: bold;
			font-size: 18px;
			padding: 10px 30px;
			text-transform: uppercase;
		}

		&:hover {
			background: $color-red;

			.nav-link {
				color: $color-white;
			}
		}
	}
}

.gallery-item-holder {
	.gallery-item {
		width: 100%;
		height: 200px;
		background-size: cover !important;
		background-position: center center !important;
		margin: 10px 0;
	}
}