.single-game-view {
	h2 {
		color: $color-red;
		font-size: 28px;
		font-weight: bold;
	}
	p {
		color: $color-dark-grey;
		font-size: 15px;
	}
	a {
		color: $color-red;
		text-decoration: none;
		transition: all 0.3s ease;

		i {
			margin-right: 10px;
		}

		&:hover {
			color: $color-black;
		}
	}

	.gallery {
		a.thumbnail.fancybox {

			&::after {
				content: " ";
				position: absolute;
				right: 0;
				left: 0;
				top: 0;
				bottom: 0;
				background: #000;
				opacity: 0;
				transition: .3s all;
			}

			&:hover {
				&::after {
					opacity: .3;
				}
			}
		}
	}
}