@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap');

body {
	font-family: 'Oswald', sans-serif;
}

.laserdog-top-bar {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;

	.top-menu {
		display: inline-block;
		float: right;
		margin-right: 15%;

		li {
			list-style: none;
			float: left;
		    padding: 10px 20px;

			a {
				color: $color-white;
				font-weight: bold;
				text-decoration: none;
				font-size: 20px;
			}

			&.button {
				background: $color-red;
			}
		}

		.language-dropdown {
			.dropdown-menu {
				min-width: auto !important;

				li {
					width: 100%;

					a {
						color: $color-black;
						text-transform: uppercase;
						font-weight: 400;
						padding: 10px 5px;
					}

					&:hover {
						background: $color-red;
						color: $color-white;

						a { color: $color-white; }
					}
				}
			}
		}
	}
}

.laserdog-navbar {
	position: absolute;
	top: 50px;
	right: 0;
	left: 0;
	z-index: 1;
	background: $color-black !important;
	padding: 0 1rem;

	.nav-item { 
		.nav-link { 
			color: $color-white; 
			font-weight: bold; 
			text-transform: uppercase;
			padding: 14px 5px;
			transition: all 0.3s ease;
			font-size: 20px;
		}

		&:hover, &.active { 
			.nav-link { 
				color: $color-yellow;
				position: relative;
				&::after {
					content: ' ';
					width: 70%;
					height: 3px;
					background: $color-yellow;
					position: absolute;
					bottom: 0;
					right: 0;
					left: 0;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
	}
}

.laserdog-navbar-logo {
	position: absolute;
	top: 50px;
	right: 0;
	left: 0;
	z-index: 1;

	img {
		max-width: 150px;
		position: absolute;
		top: -20px;
		left: 0px;
	}
}

footer {
	background: $color-dark-grey;
	color: $color-white;

	.footer-menu {
		padding: 0px 0px 0px 10px;
	    margin: 0;
	    display: inline-block;
		li {
			list-style: none;
			float: left;
			padding: 0 6.5px;
			a {
				color: $color-white;
				text-decoration: none;
				font-weight: bold;
				transition: all 0.35s ease;
				font-size: 18px;
				padding: 0;
			}

			&:hover {
				a { color: $color-yellow; }
			}
		}
	}

	.footer-socials {
		display: inline-block;
		li {
			list-style: none;
			float: left;
			padding: 0 12px;
			a {
				color: $color-white;
			}
		}
	}

	.copyright {
		color: $color-white;
		padding: 0 12px;
	}

	.copyright-anclaren {
		text-transform: uppercase; 
		padding: 17px;
		font-size: 15px;
		position: absolute;
		top: -35px;

		span {
			&.heart {
				color: $color-red; 
				font-size: 16px; 
				padding: 0 1px;
			}
		}

		a {
			text-decoration: none;
			transition: all 0.3s ease;
			color: $color-white;

			&:hover {
				color: $color-red;
			}
		}
	}
}

.contact-form {
	
	label {
		text-align: center;
		display: block;
		font-size: 20px;
		color: $color-dark-grey;
	}

	input, select, textarea {
		border-radius: 0;
	}

	textarea {
		resize: none;
	}

	button {
		background: $color-red;
		border-radius: 0;
		color: $color-white;

		&:active, &:focus {
			outline: none;
		}
	}
}

.laserdog-modal {
	.modal-dialog {
		.modal-content {
			border-radius: 0;
			background: transparent;

			.modal-header {
				background: transparent;
				color: $color-white;

				h5 {
					margin-right: auto;
					margin-left: auto;
					text-transform: uppercase;
				}

				.close {
					margin: 0;
					padding: 0;
					font-size: 50px;
				    display: block;
				    color: $color-white;
				    line-height: 0.5;
				}
			}

			.modal-body {
				background: $color-white;

				h1 { color: $color-red; font-size: 28px; }
				h2 { color: $color-black; font-size: 20px }
				p { color: $color-dark-grey; font-size: 15px; }
			}

			.modal-footer {
				background: $color-white;
			}
		}
	}
}

.text-red {
	color: $color-red;
}

.laserdog-btn {
	background: $color-red;
	color: $color-white;
	border: none;
	border-radius: 0;
	padding: 8px 20px 8px 25px;
	text-transform: uppercase;

	i {
		margin-left: 10px;
	}
}

.animated {
	-webkit-animation-duration: 2.5s;
	animation-duration: 2.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
} 

@-webkit-keyframes bounce {
	0%, 20%, 40%, 60%, 80%, 100% {-webkit-transform: translateY(0); }
	50% {-webkit-transform: translateY(-15px); }
} 

@keyframes bounce { 
	0%, 20%, 40%, 60%, 80%, 100% {transform: translateY(0); }
	50% {transform: translateY(-15px); }
} 

.bounce { 
	-webkit-animation-name: bounce;
	animation-name: bounce;
}

.responsive-lang-switcher {
	right: 0;
    left: unset;

    .language-dropdown {
    	a {
    		&.dropdown-toggle { color: $color-white; font-weight: bold; }
    	}

    	.dropdown-menu {
    		right: 0;
    		left: unset;
    		text-align: right;
    		min-width: auto;
    		text-transform: uppercase;
    		border-radius: 0px;

    		li {
    			text-align: center;
    			a { width: 100%; display: inline-block; padding: 0px 10px; color: $color-red; }
    		}
    	}
    }

}

@media (max-width: 991.98px) {
	.laserdog-navbar-logo {
		top: 20px;
		text-align: center;
		z-index: 999;
		width: 150px;
		margin-right: auto;
		margin-left: auto;

		img {
			position: unset;
			max-width: 200px;
		}
	}

	.laserdog-navbar {
		background: transparent !important;
		background-color: transparent !important;
		text-align: right;
		z-index: 2;

		.navbar-toggler {
			margin-right: 0px;
			margin-left: auto;
			border-color: transparent;
		}

		.nav-item {

			.nav-link {

				&::after {
					display: none;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.location-container {
		.col-12:last-of-type {
			margin-top: 160px;
		}
	}

	footer {
		.copyright-anclaren { top: -10px; }
		.copyright { text-align: left; padding-left: 17px; }
		.col-lg-4 { 
			text-align: left !important;

			.footer-socials {
				padding-inline-start: 10px;
				margin-bottom: 5px;
				margin-top: 2px;
			}
		}
	}
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
	.homepage-carousel {
		.carousel-caption {
			h1 { font-size: 3.5rem; }
		}

		.carousel-indicators { bottom: 10px !important; }
	}

	section.page-header h1 {
		font-size: 50pt !important;
	}
}

@media (min-width: 321px) and (max-width: 575.98px) {
	
	.homepage-carousel {
		.carousel-caption {
			h1 { font-size: 2.7rem; word-break: break-word; }
		}
	}

	section.page-header h1 {
		font-size: 40pt !important;
	}

}

@media (max-width: 320px) {
	
	.homepage-carousel {
		.carousel-caption {
			h1 { font-size: 2.1rem; word-break: break-word; }
		}
	}

	section.page-header h1 {
		font-size: 40pt !important;
	}

}


#bookingDateTimePicker .bootstrap-datetimepicker-widget table thead tr:first-child th { text-transform: capitalize; border-top: none; }
#bookingDateTimePicker .bootstrap-datetimepicker-widget { width: 100%; padding: 0; border-radius: 0px; }
#bookingDateTimePicker .bootstrap-datetimepicker-widget .row { margin: 0; }
#bookingDateTimePicker .bootstrap-datetimepicker-widget .row .datepicker { padding: 5px; }
#bookingDateTimePicker .bootstrap-datetimepicker-widget .row .timepicker { display: flex; align-items: center; justify-content: center; }
#bookingDateTimePicker .bootstrap-datetimepicker-widget .row .timepicker .btn-primary { background: #0062cc; }


#singleBookingDateTimePicker .bootstrap-datetimepicker-widget table thead tr:first-child th { text-transform: capitalize; border-top: none; }
#singleBookingDateTimePicker .bootstrap-datetimepicker-widget { width: 100%; padding: 0; border-radius: 0px; }
#singleBookingDateTimePicker .bootstrap-datetimepicker-widget .row { margin: 0; }
#singleBookingDateTimePicker .bootstrap-datetimepicker-widget .row .datepicker { padding: 5px; }
#singleBookingDateTimePicker .bootstrap-datetimepicker-widget .row .timepicker { display: flex; align-items: center; justify-content: center; }
#singleBookingDateTimePicker .bootstrap-datetimepicker-widget .row .timepicker .btn-primary { background: #0062cc; }






//COMMON VARIABLES
$dark-theme-color: #1c1c1c;
$accent-theme-color: #4caf50;
$accent-theme-color1: #00BD9D;
$accent-theme-color2: #832161;
$accent-theme-color3: #FE9000;
$accent-theme-color4: #D72638;
$accent-theme-color5: #FC448D;
$light-theme-color: #fff;

//MIXINS

//transitions mixin
@mixin transition-mix($property: all, $duration: 0.2s, $timing: linear, $delay: 0s) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing;
  transition-delay: $delay;
}

//position absolute mixin
@mixin position-absolute ($top: null, $left: null, $right: null, $bottom: null) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}



.page,
.page__content {
	position: relative;
}

.page {
	min-height: 100vh;  
	background-color: rgba($dark-theme-color, .5);
}

.page__content {
	min-height: 100vh;
	background-color: $light-theme-color;
}

/* navigation styles */
$nav-width: 300px;
$nav-bg: $dark-theme-color;
$nav-padding: 30px;
$nav-list-offset-vert: 45px;
$nav-item-offset-vert: 20px;
$nav-icon-offset-horz: 10px;

.nav {
	position: fixed;
	top: 0;
	bottom: 0;
	width: $nav-width;
	padding: $nav-padding;
	box-sizing: border-box;
	background-color: $nav-bg;
	box-shadow: 4px 0 5px 0 rgba(0,0,0,0.14), 
	          1px 0 10px 0 rgba(0,0,0,0.12), 
	          2px 0 4px -1px rgba(0,0,0,0.3);

	opacity: 0;
	visibility: hidden;
	z-index: 500;
}

/* nav list styles */
.nav__list {
	position: relative;
	width: 100%;
	padding: 0;
	margin: $nav-list-offset-vert 0 0 0;
	list-style-type: none;
	margin-block-start: 70px;
	margin-block-end: 0px;
}

/* nav item styles */
.nav__item {
  
  &:not(:last-child) {
    margin-bottom: $nav-item-offset-vert;
  }

  &.languages {
  	text-align: center;

  	ul { 
  		padding: 0;
  		list-style: none;
  		display: inline-block;

  		li {
  			float: left;
  			padding: 0 10px;

  			a { color: #fff; }
  		}
  	}
  }

  &.button {
  	text-align: center;
  	a {
  		background: $color-red;
  		padding: 7px 18px;
  		border-radius: 4px;
  		color: #fff;

  		i {
  			margin-left: 7px;
  		}
  	}
  }
}

/* nav link styles */
.nav__link {
	@include transition-mix;
	text-transform: uppercase;
	font-weight: bold;

	display: inline-flex;
	align-items: center;

	color: $light-theme-color;
	text-decoration: none !important;

	&:hover {
		color: $color-yellow;
	}
}


/* close icon styles */
.nav__close {
  @include position-absolute($top: $nav-padding, $left: 20px);
  
  width: 40px;
  height: 25px;
  
  cursor: pointer;
  
  /* close icon elements */
  &:before,
  &:after {
    @include transition-mix;
    
    display: block;
    width: 4px;
    height: 28px;
    border-radius: 10px;
    
    content: '';
    
    transform-origin: center center;
    background-color: $light-theme-color;
  }
  
  &:before {
    @include position-absolute($top: 0, $left: 18px);
    transform: rotate(-45deg);
  }
  
  &:after {
    @include position-absolute($top: 0, $right: 18px);
    transform: rotate(45deg);
  }
  
  /* hover effect */
  &:hover {
    
    &:before,
    &:after {
      background-color: $color-yellow;
    }
  }
}

/* nav open btn styles */
$nav-open-btn-vert-offset: 0px;
$nav-open-btn-horz-offset: 30px;

.nav-open-btn {
  @include position-absolute($top: $nav-open-btn-vert-offset, $left: $nav-open-btn-horz-offset);
 @include transition-mix();
  
  width: 35px;
  height: 25px;
 
  overflow: hidden;
  cursor: pointer;
  
  //used to hide open btn when the nav is opened
  &.js-hidden {
    @include transition-mix($duration: 0s);
    
    opacity: 0;
    visibility: hidden;
  }
}

.nav-open-btn__bar {
  width: 100%;
  height: 5px;
  
  background-color: $light-theme-color;
  border-radius: 20px;
  
  &:nth-child(1) {
    @include position-absolute($top: 0, $left: 0);
  }
  
  &:nth-child(2) {
    @include position-absolute($top: 10px, $left: 0);
  }
  
  &:nth-child(3) {
    @include position-absolute($top: 20px, $left: 0);
  }
}

/* Demo #3: styles */

.nav--offcanvas-3 {
	@include transition-mix();
	left: (- $nav-width);

	/* opened styles */
	&.js-opened {
		@include transition-mix($property: left);
		left: 0;  
		opacity: 1;
		visibility: visible;
	}
}

.page__content--offcanvas-3 {
	@include transition-mix();
	transform: rotateY(0deg) translateX(0);
	//&.js-opened { transform: translate3d(100px, 0, -600px) rotateY(- 20deg); }
}