section {
	.section-title {
		color: $color-dark-grey;
		font-size: 50px;
		text-transform: uppercase;
	}
}

.category-carousel-container {
	top: -70px;
	position: relative;
}

.homepage-carousel {

	.carousel-inner {

		.carousel-item {
			height: 100vh;
			min-height: 350px;
			background: no-repeat center center scroll;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;

			.carousel-caption {
				top: 30%;

				b { font-weight: 900; }
			}
		}

	}

	.carousel-indicators {
		bottom: 70px;
	}
}

.info-section {
	background: $color-dark-grey;
	color: $color-white;

	h3 { color: $color-yellow; font-weight: bold; }

	p { color: $color-light-grey; font-weight: 500; }

	a { 
		text-decoration: none;
		color: $color-white;
		font-weight: bold;
		transition: all 0.3s ease;

		&:hover {
			color: $color-yellow;
		}
	}
}

.map-container {

	#map { height: 550px; }

	.location-block {
		position: absolute;
		right: 10px;
		left: 10px;
		bottom: -80px;
		background: $color-dark-grey;
		color: $color-white;
		z-index: 1;
		padding: 30px 40px;

		h3 {
			font-size: 25px;
			color: $color-yellow; 
			font-weight: bold;
			text-transform: uppercase;
		}

		h4 {
			font-size: 16px;
			color: $color-white; 
			font-weight: bold;
		}
	}
}

@media (max-width: 991.98px) {

	.homepage-carousel {

		.carousel-indicators {
			bottom: 70px;
		}
	}


	.map-container {
		.location-container {
			.location-block {
				
				&.second-location {
					top: 110px;
	    			height: 152px;
				}
			}
		}
	}
}