section {
	position: relative;

	&.page-header {
		height: 450px;
		background-color: $color-black;
		background-size: cover;
		background-position: center center;
		h1 { color: $color-white; font-size: 72pt; text-transform: uppercase; }
	}
}