.pricing-info-box {
	h2 {
		color: $color-red;
		font-weight: bold;
		font-size: 30px;
	}

	h3 {
		color: $color-light-grey;
		font-size: 20px;
		b {
			color: $color-black;
			margin-left: 30px;
		}
	}

	p.paragraph {
		color: $color-dark-grey;
		font-size: 18px;
		font-weight: 200;
		display: grid;
		width: 100%;
		letter-spacing: .67px;
		b {
			color: $color-black;
		}


	}
}