.category-item {
	border: none;
	border-radius: 0;
	background: $color-red;

	img {
		transition: opacity 400ms ease-out, transform 400ms ease-out, filter 400ms ease-out;
	    -moz-transition: opacity 400ms ease-out, -moz-transform 400ms ease-out, -moz-filter 400ms ease-out;
	    -o-transition: opacity 400ms ease-out, -o-transform 400ms ease-out, -o-filter 400ms ease-out;
	    -webkit-transition: opacity 400ms ease-out, -webkit-transform 400ms ease-out, -webkit-filter 400ms ease-out;
		border-radius: 0;
	}

	.card-body {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		color: $color-white;
		-moz-box-shadow: inset 0px -80px 100px -30px $color-black;
	    -webkit-box-shadow: inset 0px -80px 100px -30px $color-black;
	    box-shadow: inset 0px -80px 100px -30px $color-black;

		.text-content {
			position: absolute;
		    bottom: 0;
		    right: 0;
		    left: 0;
		    text-align: center;

		    h2 {
			    font-weight: bold;
			    font-size: 30px;
			    text-transform: uppercase;
				margin-bottom: 15px;
				line-height: 1.2;
	    		.text-color {
	    			color: $color-yellow;
	    		}
	    	}
		}
	}

	&:hover {
		img { 
		    opacity: 0.25;
		    filter: alpha(opacity=25);
		}
		.card-body {
			display: block;
		}
	}
}

.article-item {
	border: none;
	border-radius: 0;

	img {
		border: none;
		border-radius: 0;
	}

	.card-header {
		border: none;
		border-radius: 0;
		padding: 0;
		position: relative;

		.card-info {
			position: absolute;
			background: $color-yellow;
			padding: 5px 10px;
			bottom: 0;
			left: 0;

			.date {
				margin-left: 6px;
			}
		}
	}

	.card-body {
		padding: 7px 0px;

		.title {
			font-weight: bold;
			font-size: 20px;

			a {
				text-decoration: none;
				color: $color-dark-grey;
				transition: all 0.3s ease;

				&:hover {
					color: $color-red;
				}
			}
		}
	}
}