<template>
    <div>
        <heading class="mb-6">Settings</heading>

        <card class="card overflow-hidden">
            <form @submit.prevent="updateSetting">
                <div>
                    <div class="flex border-b border-40">
                        <div class="w-1/4 px-8 py-6">
                            <label class="inline-block text-80 h-9 pt-2">Site Name</label>
                            <p class="text-sm leading-normal text-80 italic"></p>
                        </div>
                        <div class="w-3/4 px-8 py-6">
                            <input v-model="app.name" placeholder="Application name or Website title" type="text" class="w-full form-control form-input form-input-bordered">
                        </div>
                    </div>

                    <div class="flex border-b border-40">
                        <div class="w-1/4 px-8 py-6">
                            <label class="inline-block text-80 h-9 pt-2">Company Name</label>
                            <p class="text-sm leading-normal text-80 italic"></p>
                        </div>
                        <div class="w-3/4 px-8 py-6">
                            <input v-model="app.company_name" placeholder="Company name" type="text" class="w-full form-control form-input form-input-bordered">
                        </div>
                    </div>

                    <div class="flex border-b border-40">
                        <div class="w-1/4 px-8 py-6">
                            <label class="inline-block text-80 h-9 pt-2">Office Address</label>
                            <p class="text-sm leading-normal text-80 italic"></p>
                        </div>
                        <div class="w-3/4 px-8 py-6">
                            <input v-model="app.address" placeholder="Company office address" type="text" class="w-full form-control form-input form-input-bordered">
                        </div>
                    </div>

                    <div class="flex border-b border-40">
                        <div class="w-1/4 px-8 py-6">
                            <label class="inline-block text-80 h-9 pt-2">Phone</label>
                            <p class="text-sm leading-normal text-80 italic"></p>
                        </div>
                        <div class="w-3/4 px-8 py-6">
                            <input v-model="app.phone" placeholder="Company phone number" type="text" class="w-full form-control form-input form-input-bordered">
                        </div>
                    </div>

                    <div class="flex border-b border-40">
                        <div class="w-1/4 px-8 py-6">
                            <label class="inline-block text-80 h-9 pt-2">E-mail</label>
                            <p class="text-sm leading-normal text-80 italic"></p>
                        </div>
                        <div class="w-3/4 px-8 py-6">
                            <input v-model="app.email" placeholder="Company e-mail address" type="text" class="w-full form-control form-input form-input-bordered">
                        </div>
                    </div>

                    <div class="flex border-b border-40">
                        <div class="w-1/4 px-8 py-6">
                            <label class="inline-block text-80 h-9 pt-2">Facebook</label>
                            <p class="text-sm leading-normal text-80 italic"></p>
                        </div>
                        <div class="w-3/4 px-8 py-6">
                            <input v-model="app.facebook" placeholder="Facebook URL" type="text" class="w-full form-control form-input form-input-bordered">
                        </div>
                    </div>

                    <div class="flex border-b border-40">
                        <div class="w-1/4 px-8 py-6">
                            <label class="inline-block text-80 h-9 pt-2">Instagram</label>
                            <p class="text-sm leading-normal text-80 italic"></p>
                        </div>
                        <div class="w-3/4 px-8 py-6">
                            <input v-model="app.instagram" placeholder="Instagram URL" type="text" class="w-full form-control form-input form-input-bordered">
                        </div>
                    </div>

                    <div class="flex border-b border-40">
                        <div class="w-1/4 px-8 py-6">
                            <label class="inline-block text-80 h-9 pt-2">Twitter</label>
                            <p class="text-sm leading-normal text-80 italic"></p>
                        </div>
                        <div class="w-3/4 px-8 py-6">
                            <input v-model="app.twitter" placeholder="Twitter URL" type="text" class="w-full form-control form-input form-input-bordered">
                        </div>
                    </div>

                    <div class="flex border-b border-40">
                        <div class="w-1/4 px-8 py-6">
                            <label class="inline-block text-80 h-9 pt-2">LinkedIn</label>
                            <p class="text-sm leading-normal text-80 italic"></p>
                        </div>
                        <div class="w-3/4 px-8 py-6">
                            <input v-model="app.linkedin" placeholder="LinkedIn URL" type="text" class="w-full form-control form-input form-input-bordered">
                        </div>
                    </div>

                    <div class="flex border-b border-40">
                        <div class="w-1/4 px-8 py-6">
                            <label class="inline-block text-80 h-9 pt-2">Google</label>
                            <p class="text-sm leading-normal text-80 italic"></p>
                        </div>
                        <div class="w-3/4 px-8 py-6">
                            <input v-model="app.google" placeholder="Google URL" type="text" class="w-full form-control form-input form-input-bordered">
                        </div>
                    </div>

                    <div class="flex border-b border-40">
                        <div class="w-1/4 px-8 py-6">
                            <label class="inline-block text-80 h-9 pt-2">Youtube</label>
                            <p class="text-sm leading-normal text-80 italic"></p>
                        </div>
                        <div class="w-3/4 px-8 py-6">
                            <input v-model="app.youtube" placeholder="Youtube URL" type="text" class="w-full form-control form-input form-input-bordered">
                        </div>
                    </div>

                    <div class="flex border-b border-40">
                        <div class="w-1/4 px-8 py-6">
                            <label class="inline-block text-80 h-9 pt-2">Pinterest</label>
                            <p class="text-sm leading-normal text-80 italic"></p>
                        </div>
                        <div class="w-3/4 px-8 py-6">
                            <input v-model="app.pinterest" placeholder="Pinterest URL" type="text" class="w-full form-control form-input form-input-bordered">
                        </div>
                    </div>

                </div>

                <div class="bg-30 flex px-8 py-4">
                    <button type="submit" class="ml-auto btn btn-default btn-primary mr-3">
                        Update Settings
                    </button>
                </div>
            </form>
        </card>

    </div>
</template>

<script>
const defaults = {
    name: null,
    address: null,
    company_name: null,
    phone: null,
    email: null,
    facebook: null,
    instagram: null,
    twitter: null,
    linkedin: null,
    google: null,
    youtube: null,
    pinterest: null,
}

export default {
    data() {
        return { 
            app: defaults
        }
    },
    mounted() {
        this.loadDefaultSetting()
    },
    methods: {
        loadDefaultSetting() {
            Nova.request().get("/nova-vendor/setting-tool/default-setting")
                .then(response => {
                    this.app = response.data.setting.app
                })
                .catch(() => this.error = true)
        },
        updateSetting() {
            Nova.request().put("/nova-vendor/setting-tool/update-setting", {app: this.app, admin: this.admin})
                .then(response => {
                    this.app = response.data.setting.app
                    this.admin = response.data.setting.admin
                    this.$toasted.success(response.data.message, {
                        duration : 3000,
                        onComplete : () => window.location.reload(true)
                    })
                })
                .catch(() => this.error = true)
        }
    }
}
</script>

<style>
/* Scoped Styles */
</style>
